<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType 
       id="com.gigaspaces.azure.core.serverType"
       name="Windows Azure"
       description="Windows Azure Server"
       supportsRemoteHosts="false"
       runtime="true"
       startTimeout="600000"
       stopTimeout="150000"
       initialState="stopped"
       startBeforePublish="false"
       hasConfiguration="true"
       launchModes="run, debug, profile"
       launchConfigId="com.gigaspaces.azure.core.launchConfigurationTypeId"
       runtimeTypeId="com.gigaspaces.azure.core.runtimeTypeId"
       class="com.gigaspaces.azure.server.AzureServer"
       behaviourClass="com.gigaspaces.azure.server.AzureServerBehaviour">
     </serverType>
  </extension>

<extension
		point="org.eclipse.wst.server.core.runtimeTypes">
		<runtimeType
			id="com.gigaspaces.azure.core.runtimeTypeId"
			name="Windows Azure" description="Windows Azure"
			vendor="Microsoft" version="1.0"
			class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime">
			<moduleType types="jst.web" versions="2.2, 2.3, 2.4, 2.5, 3.0" />
		</runtimeType>
	</extension>
	
	<extension
		point="org.eclipse.jst.server.generic.core.serverdefinition">
		<serverdefinition
			id="com.gigaspaces.azure.core.runtimeTypeId"
			definitionfile="server/server-definition.xml" />         
	</extension>
   <!--extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="com.gigaspaces.azure.core.runtimeTypeId"
       name="AzureServerRuntime"
       description=""
       vendor="Gigaspaces"
       version="1.0"
       class="com.gigaspaces.azure.server.AzureRuntime">
       <moduleType types="jst.web" versions="2.2, 2.3, 2.4, 2.5, 3.0" />
    </runtimeType>
  </extension-->

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        id="com.gigaspaces.azure.core.launchConfigurationTypeId"
        name="azureLaunchConfigurationType"
        delegate="com.gigaspaces.azure.server.AzureConfigurationDelegate"
        modes="run, debug, profile"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.tomcat.core.sourcePathComputer"/>
  </extension>
  
  <extension point="org.eclipse.wst.server.ui.serverImages">
	 <image icon="/icons/azure.gif"
	    	id="org.eclipse.jst.server.generic.image"
	    	typeIds="com.gigaspaces.azure.core.serverType" />
	</extension>
  
  <extension
     point="org.eclipse.ui.actionSets">
  <actionSet
        label="Windows Azure"
        visible="true"
        id="com.gigaspaces.azure.actionSet">
     <menu
           label="Windows Azure"
           id="azureMenu">
        <separator
              name="azureGroup">
        </separator>
     </menu>
     <action
           label="&amp;Azure UI"
           icon="icons/ui.png"
           class="com.gigaspaces.azure.actions.AzureUIAction"
           tooltip="Open Azure UI"
           menubarPath="azureMenu/azureGroup"
           toolbarPath="azureGroup"
           id="com.gigaspaces.azure.actions.AzureUIAction">
     </action>
  </actionSet>
   </extension>
   
	<extension
       point="org.eclipse.wst.server.ui.wizardFragments">
	    <fragment id="org.eclipse.jst.server.generic.runtime"
	      typeIds="com.gigaspaces.azure.runtime"
	      class="org.eclipse.jst.server.generic.ui.internal.GenericServerRuntimeWizardFragment" />
	    <fragment id="org.eclipse.jst.server.generic.server"
	      typeIds="com.gigaspaces.azure.core.serverType"
	      class="com.gigaspaces.azure.wizards.AzureServerWizardFragment" />
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.serverCreationWizardPageExtension">
	 <fragment id="myextension"
	    	class="com.gigaspaces.azure.wizards.AzureServerCreationWizardPageExtension" />
	</extension>
 <extension
       point="org.eclipse.jst.server.generic.core.genericpublisher">
    <genericpublisher
          class="com.gigaspaces.azure.server.AzureAntPublisher"
          id="org.eclipse.jst.server.generic.antpublisher">
    </genericpublisher>
 </extension>

			
</plugin>
