{
   "Resources":{
      "ec2instance":{
         "Type":"AWS::EC2::Instance",
         "Properties":{
            "ImageId":"ami-89b1a3fd",
            "InstanceType":"t1.micro",
            "AvailabilityZone":"eu-west-1c",
            "SecurityGroups":["cloudify","default"], 
            "KeyName":"cloudify",
            "Volumes" : [{ 
               "VolumeId" : {
                 "Ref":"smallVolume"
               }, 
               "Device" : "/dev/sdk"
            }]
         }
      },
	  "smallVolume" : {
	     "Type" : "AWS::EC2::Volume",
	     "Properties" : {
	        "Size" : "1",
	        "AvailabilityZone" : "eu-west-1c"
	     }
	  }
   }
}