<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration" serviceName="" osFamily="1" osVersion="*">

  <Role name="management">

    <ConfigurationSettings>

      <Setting name="GigaSpaces.WindowsAzure.TraceUploadPeriod" value="00:01"/>

      <Setting name="GigaSpaces.XAP.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fgigaspaces-xap-premium-8.0.3-ga-b5595-57.zip%3F%26se%3D2015-06-21T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3DMb%252BFeHuNz6NsuQcrm%252BLMR8Gf8GP1hvLS4V6XmQkTERk%253D"/>

      <Setting name="GigaSpaces.JDK.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fjdk1.6.0_25.zip%3F%26se%3D2013-06-01T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3D8lVgpIa2qoNpWWgVbS%252F%252F78iJHOqzZS1Uacc4n4ByvHA%253D"/>

      <Setting name="GigaSpaces.XAP.NumberOfManagementRoleInstances" value="2"/>

      <Setting name="GigaSpaces.XAP.UploadAgentLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.UploadAllLogs" value="true"/>

      <Setting name="GigaSpaces.WindowsAzure.WorkingDirectory" value="."/>

      <Setting name="GigaSpaces.XAP.GSA.MemoryInMB" value="128"/>

      <Setting name="GigaSpaces.XAP.LUS.MemoryInMB" value="256"/>

      <Setting name="GigaSpaces.XAP.GSM.MemoryInMB" value="256"/>

      <Setting name="GigaSpaces.XAP.ESM.MemoryInMB" value="256"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gigaspaces;AccountKey=UD+sH0G99u9Rjt/jD5U39k2exfUQAgmeIgXx6+s/LTwLwTeScC7YK+53+UXkh9cZI4yiv2ZpKrnXYh9/e5eNhw=="/>

      <Setting name="GigaSpaces.Firewall.Ports" value="*"/>

      <Setting name="GigaSpaces.XAP.RestAdmin.MemoryInMB" value="0"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="gigaspaces"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIIBnQYJKoZIhvcNAQcDoIIBjjCCAYoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMME1dpbmRvd3MgQXp1cmUgVG9vbHMCEHajSi1yL1OxQL/rs764sEwwDQYJKoZIhvcNAQEBBQAEggEAh8XuwaqYEwajHLWBtB2xYnJJuQ1qS7l54hu9XOkIqpZ0pRBeVLUJf3O6jowmxPU0/6m65JazTOo0MWVQce48kpEO7VBs2CW26g1PJjVyxyDD+z1e+3kdmNoMMjPKvt3vaHq5ZCol+iO8yWMXDITc2l6EPJay4QBMeGd3CPGgn04inD5P08YwaicEqNZk+SjMZXVNyFExNWEPDvhFKw6qRPbu1i1nwp6yMjHFImB7yjrK8zgkWdKMyxNuThtTLLWzwESN0yaSjSp4BWCUNTmNyM9UC88UTQk3UGnEmNRY6KMmyBt+rO8KNZvtFqWDV+ygEfFaj17ft5PpsoOk2Ue/sTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGmQUBVuWTlWgBDXc+tBT2eo8ktROXDG7VDc"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2013-07-13T23:59:59.0000000+03:00"/>

    </ConfigurationSettings>

    <Instances count="2"/>

    <Certificates>

      <Certificate name="Microsoft.WindowsAzure.Plugins.RemoteAccess.PasswordEncryption" thumbprint="2BC63BC5C99ADF5D944922361DBA8A16A4A10E66" thumbprintAlgorithm="sha1"/>

    </Certificates>

  </Role>

  <Role name="cassandra">

    <ConfigurationSettings>

      <Setting name="GigaSpaces.WindowsAzure.TraceUploadPeriod" value="00:01"/>

      <Setting name="GigaSpaces.XAP.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fgigaspaces-xap-premium-8.0.3-ga-b5595-57.zip%3F%26se%3D2015-06-21T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3DMb%252BFeHuNz6NsuQcrm%252BLMR8Gf8GP1hvLS4V6XmQkTERk%253D"/>

      <Setting name="GigaSpaces.JDK.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fjdk1.6.0_25.zip%3F%26se%3D2013-06-01T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3D8lVgpIa2qoNpWWgVbS%252F%252F78iJHOqzZS1Uacc4n4ByvHA%253D"/>

      <Setting name="GigaSpaces.XAP.NumberOfManagementRoleInstances" value="2"/>

      <Setting name="GigaSpaces.XAP.UploadAgentLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.UploadAllLogs" value="true"/>

      <Setting name="GigaSpaces.WindowsAzure.WorkingDirectory" value="."/>

      <Setting name="GigaSpaces.XAP.GSA.MemoryInMB" value="128"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gigaspaces;AccountKey=UD+sH0G99u9Rjt/jD5U39k2exfUQAgmeIgXx6+s/LTwLwTeScC7YK+53+UXkh9cZI4yiv2ZpKrnXYh9/e5eNhw=="/>

      <Setting name="GigaSpaces.Firewall.Ports" value="*"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="gigaspaces"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIIBnQYJKoZIhvcNAQcDoIIBjjCCAYoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMME1dpbmRvd3MgQXp1cmUgVG9vbHMCEHajSi1yL1OxQL/rs764sEwwDQYJKoZIhvcNAQEBBQAEggEAh8XuwaqYEwajHLWBtB2xYnJJuQ1qS7l54hu9XOkIqpZ0pRBeVLUJf3O6jowmxPU0/6m65JazTOo0MWVQce48kpEO7VBs2CW26g1PJjVyxyDD+z1e+3kdmNoMMjPKvt3vaHq5ZCol+iO8yWMXDITc2l6EPJay4QBMeGd3CPGgn04inD5P08YwaicEqNZk+SjMZXVNyFExNWEPDvhFKw6qRPbu1i1nwp6yMjHFImB7yjrK8zgkWdKMyxNuThtTLLWzwESN0yaSjSp4BWCUNTmNyM9UC88UTQk3UGnEmNRY6KMmyBt+rO8KNZvtFqWDV+ygEfFaj17ft5PpsoOk2Ue/sTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGmQUBVuWTlWgBDXc+tBT2eo8ktROXDG7VDc"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2013-07-13T23:59:59.0000000+03:00"/>

    </ConfigurationSettings>

    <Instances count="2"/>

    <Certificates>

      <Certificate name="Microsoft.WindowsAzure.Plugins.RemoteAccess.PasswordEncryption" thumbprint="2BC63BC5C99ADF5D944922361DBA8A16A4A10E66" thumbprintAlgorithm="sha1"/>

    </Certificates>

  </Role>

  <Role name="tomcat">

    <ConfigurationSettings>

      <Setting name="GigaSpaces.WindowsAzure.TraceUploadPeriod" value="00:01"/>

      <Setting name="GigaSpaces.XAP.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fgigaspaces-xap-premium-8.0.3-ga-b5595-57.zip%3F%26se%3D2015-06-21T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3DMb%252BFeHuNz6NsuQcrm%252BLMR8Gf8GP1hvLS4V6XmQkTERk%253D"/>

      <Setting name="GigaSpaces.JDK.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fjdk1.6.0_25.zip%3F%26se%3D2013-06-01T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3D8lVgpIa2qoNpWWgVbS%252F%252F78iJHOqzZS1Uacc4n4ByvHA%253D"/>

      <Setting name="GigaSpaces.XAP.NumberOfManagementRoleInstances" value="2"/>

      <Setting name="GigaSpaces.XAP.UploadAgentLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.UploadAllLogs" value="true"/>

      <Setting name="GigaSpaces.WindowsAzure.WorkingDirectory" value="."/>

      <Setting name="GigaSpaces.XAP.GSA.MemoryInMB" value="128"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gigaspaces;AccountKey=UD+sH0G99u9Rjt/jD5U39k2exfUQAgmeIgXx6+s/LTwLwTeScC7YK+53+UXkh9cZI4yiv2ZpKrnXYh9/e5eNhw=="/>

      <Setting name="GigaSpaces.Firewall.Ports" value="*"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="gigaspaces"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIIBnQYJKoZIhvcNAQcDoIIBjjCCAYoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMME1dpbmRvd3MgQXp1cmUgVG9vbHMCEHajSi1yL1OxQL/rs764sEwwDQYJKoZIhvcNAQEBBQAEggEAh8XuwaqYEwajHLWBtB2xYnJJuQ1qS7l54hu9XOkIqpZ0pRBeVLUJf3O6jowmxPU0/6m65JazTOo0MWVQce48kpEO7VBs2CW26g1PJjVyxyDD+z1e+3kdmNoMMjPKvt3vaHq5ZCol+iO8yWMXDITc2l6EPJay4QBMeGd3CPGgn04inD5P08YwaicEqNZk+SjMZXVNyFExNWEPDvhFKw6qRPbu1i1nwp6yMjHFImB7yjrK8zgkWdKMyxNuThtTLLWzwESN0yaSjSp4BWCUNTmNyM9UC88UTQk3UGnEmNRY6KMmyBt+rO8KNZvtFqWDV+ygEfFaj17ft5PpsoOk2Ue/sTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGmQUBVuWTlWgBDXc+tBT2eo8ktROXDG7VDc"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2013-07-13T23:59:59.0000000+03:00"/>

    </ConfigurationSettings>

    <Instances count="2"/>

    <Certificates>

      <Certificate name="Microsoft.WindowsAzure.Plugins.RemoteAccess.PasswordEncryption" thumbprint="2BC63BC5C99ADF5D944922361DBA8A16A4A10E66" thumbprintAlgorithm="sha1"/>

    </Certificates>

  </Role>

  <Role name="ui">

    <ConfigurationSettings>

      <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gigaspaces;AccountKey=UD+sH0G99u9Rjt/jD5U39k2exfUQAgmeIgXx6+s/LTwLwTeScC7YK+53+UXkh9cZI4yiv2ZpKrnXYh9/e5eNhw=="/>

      <Setting name="GigaSpaces.WindowsAzure.TraceUploadPeriod" value="00:01"/>

      <Setting name="GigaSpaces.XAP.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fgigaspaces-xap-premium-8.0.3-ga-b5595-57.zip%3F%26se%3D2015-06-21T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3DMb%252BFeHuNz6NsuQcrm%252BLMR8Gf8GP1hvLS4V6XmQkTERk%253D"/>

      <Setting name="GigaSpaces.JDK.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fjdk1.6.0_25.zip%3F%26se%3D2013-06-01T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3D8lVgpIa2qoNpWWgVbS%252F%252F78iJHOqzZS1Uacc4n4ByvHA%253D"/>

      <Setting name="GigaSpaces.XAP.NumberOfManagementRoleInstances" value="2"/>

      <Setting name="GigaSpaces.XAP.UploadAgentLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.UploadAllLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.GSA.MemoryInMB" value="128"/>

      <Setting name="GigaSpaces.XAP.WEBUI.MemoryInMB" value="512"/>

      <Setting name="GigaSpaces.XAP.RestAdmin.MemoryInMB" value="512"/>

      <Setting name="GigaSpaces.WindowsAzure.WorkingDirectory" value="."/>

      <Setting name="GigaSpaces.Firewall.Ports" value="*"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="gigaspaces"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIIBnQYJKoZIhvcNAQcDoIIBjjCCAYoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMME1dpbmRvd3MgQXp1cmUgVG9vbHMCEHajSi1yL1OxQL/rs764sEwwDQYJKoZIhvcNAQEBBQAEggEAh8XuwaqYEwajHLWBtB2xYnJJuQ1qS7l54hu9XOkIqpZ0pRBeVLUJf3O6jowmxPU0/6m65JazTOo0MWVQce48kpEO7VBs2CW26g1PJjVyxyDD+z1e+3kdmNoMMjPKvt3vaHq5ZCol+iO8yWMXDITc2l6EPJay4QBMeGd3CPGgn04inD5P08YwaicEqNZk+SjMZXVNyFExNWEPDvhFKw6qRPbu1i1nwp6yMjHFImB7yjrK8zgkWdKMyxNuThtTLLWzwESN0yaSjSp4BWCUNTmNyM9UC88UTQk3UGnEmNRY6KMmyBt+rO8KNZvtFqWDV+ygEfFaj17ft5PpsoOk2Ue/sTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGmQUBVuWTlWgBDXc+tBT2eo8ktROXDG7VDc"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2013-07-13T20:59:59.0000000Z"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteForwarder.Enabled" value="true"/>

    </ConfigurationSettings>

    <Instances count="1"/>

    <Certificates>

      <Certificate name="Microsoft.WindowsAzure.Plugins.RemoteAccess.PasswordEncryption" thumbprint="2BC63BC5C99ADF5D944922361DBA8A16A4A10E66" thumbprintAlgorithm="sha1"/>

    </Certificates>

  </Role>

  <Role name="datagrid">

    <ConfigurationSettings>

      <Setting name="GigaSpaces.WindowsAzure.TraceUploadPeriod" value="00:01"/>

      <Setting name="GigaSpaces.XAP.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fgigaspaces-xap-premium-8.0.3-ga-b5595-57.zip%3F%26se%3D2015-06-21T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3DMb%252BFeHuNz6NsuQcrm%252BLMR8Gf8GP1hvLS4V6XmQkTERk%253D"/>

      <Setting name="GigaSpaces.JDK.DownloadUrl" value="https%3A%2F%2Fgigaspaces.blob.core.windows.net%2Fpackages%2Fjdk1.6.0_25.zip%3F%26se%3D2013-06-01T00%253A00%253A00Z%26sr%3Db%26si%3Dreadforever%26sig%3D8lVgpIa2qoNpWWgVbS%252F%252F78iJHOqzZS1Uacc4n4ByvHA%253D"/>

      <Setting name="GigaSpaces.XAP.NumberOfManagementRoleInstances" value="2"/>

      <Setting name="GigaSpaces.XAP.UploadAgentLogs" value="true"/>

      <Setting name="GigaSpaces.XAP.UploadAllLogs" value="true"/>

      <Setting name="GigaSpaces.WindowsAzure.WorkingDirectory" value="."/>

      <Setting name="GigaSpaces.XAP.GSA.MemoryInMB" value="128"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gigaspaces;AccountKey=UD+sH0G99u9Rjt/jD5U39k2exfUQAgmeIgXx6+s/LTwLwTeScC7YK+53+UXkh9cZI4yiv2ZpKrnXYh9/e5eNhw=="/>

      <Setting name="GigaSpaces.Firewall.Ports" value="*"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="gigaspaces"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIIBnQYJKoZIhvcNAQcDoIIBjjCCAYoCAQAxggFOMIIBSgIBADAyMB4xHDAaBgNVBAMME1dpbmRvd3MgQXp1cmUgVG9vbHMCEHajSi1yL1OxQL/rs764sEwwDQYJKoZIhvcNAQEBBQAEggEAh8XuwaqYEwajHLWBtB2xYnJJuQ1qS7l54hu9XOkIqpZ0pRBeVLUJf3O6jowmxPU0/6m65JazTOo0MWVQce48kpEO7VBs2CW26g1PJjVyxyDD+z1e+3kdmNoMMjPKvt3vaHq5ZCol+iO8yWMXDITc2l6EPJay4QBMeGd3CPGgn04inD5P08YwaicEqNZk+SjMZXVNyFExNWEPDvhFKw6qRPbu1i1nwp6yMjHFImB7yjrK8zgkWdKMyxNuThtTLLWzwESN0yaSjSp4BWCUNTmNyM9UC88UTQk3UGnEmNRY6KMmyBt+rO8KNZvtFqWDV+ygEfFaj17ft5PpsoOk2Ue/sTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGmQUBVuWTlWgBDXc+tBT2eo8ktROXDG7VDc"/>

      <Setting name="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2013-07-13T23:59:59.0000000+03:00"/>

      <Setting name="GigaSpaces.XAP.Space.MaxMemoryInMB" value="8192"/>

    </ConfigurationSettings>

    <Instances count="2"/>

    <Certificates>

      <Certificate name="Microsoft.WindowsAzure.Plugins.RemoteAccess.PasswordEncryption" thumbprint="2BC63BC5C99ADF5D944922361DBA8A16A4A10E66" thumbprintAlgorithm="sha1"/>

    </Certificates>

  </Role>

</ServiceConfiguration>
