/**
 * Cloudify REST API documentation
 * 
 * 	Table of Contents:
 * 		1. Reset Styles
 * 		2. Baseline (Default) Styles
 * 		3. Helper Classes
 * 		4. Custom Containers
 * 
 * 	Used colors:
 *		#edf7fc
 * 		#5086ab
 * 		#007cbf
 * 
 */


/*
 * 1. Reset Styles
 */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul, li {
    list-style: none;
    list-style-type: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6, th, td {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
link, a {
	text-decoration: none;
}
/* HTML 5 elements as block-level for consistent styling */  
article, aside, figure, footer, header, hgroup, menu, nav, section {  
    display: block;  
}


/*
 * 2. Baseline (Default) Styles
 */

body {
	min-width: 950px;
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	background-color: #edf7fc;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	padding-top: .8em;
	padding-bottom: .2em;
	line-height: 1;
}
h1 {
	padding-top: .9em;
	padding-bottom: .3em;
	line-height: 1.4;
	font-size: 2.8em;
	color: #164b8a;
	text-shadow: 1px 1px 0 #fff;
}
h2 {
	font-size: 1.6em;
	color: #619ee7;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #0a66a3;
}
h4 {
	font-size: 1em;
	font-weight: bold;
	color: #000;
}
h5 {
}
h6 {
}

div, p, ul, ol, dl, table {
	margin-bottom: .5em;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #4488d5;
}
a:hover, a:active, a:focus {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

ol, ul, li {
    list-style: circle;
    list-style-type: circle;
	list-style-position: inside;
}
li {
	margin-left: .7em;	
}

table {
	width: 100%;
	margin: 0 auto 1em;
}
table caption {
	padding: .4em 0;
	font: 1.25em Arial, Helvetica, sans-serif;
	color: #619ee7;
}
table th,
table td {
	padding: .2em .4em;
	background-color: #fff;
	border: 1px dashed #aaa;
}
table th {
	padding: .4em;
	font-weight: bold;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/*
 * 3. Helper Classes
 */

.permalink {
	position: relative;
	line-height: 1.2;
	word-break: break-all;
}
.permalink:hover:after {
	content: '\00B6';
	position: absolute;
	bottom: .4em;
	right: -1.5em;
	width: 20px;
	height: 20px;
	color: #007cbf;
}
a.permalink {
	border-bottom: 0 none !important;
	color: #619ee7 !important;
}

/* layout */
.separator {
	position: relative;
	height: 1px;
	background-color: #c8d9ea;
	margin-top: 1.4em;
	margin-bottom: 1em;
}


/* 
 * 4. Custom Containers
 */

.panel {
    border: 1px dashed #aaa;
    border-radius: 8px;
}

.panelHeader,
.panelContent {
	margin: 0;
}
.panelHeader {
    padding: .3em .6em;
    font-weight: bold;
	background-color: #eee;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panelContent {
    padding: .3em .6em;
    background-color: #fff;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.code {
	font: normal 100%/1.4em consolas, courier-new, monospace;
}

.header p {
	padding-left: 1.4em;
	padding-right: 1.4em;
}

.excerpt {
	font-weight: bold;
	font-style: italic;
}

