<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
	          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072" />
            <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" 
                address="https://management.core.windows.net"
                binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding"
                contract="Microsoft.Samples.WindowsAzure.ServiceManagement.IServiceManagement" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="CheckServerCertificate" value="true"/>
    <!-- Insert your subscriptionId as shown by the Windows Azure developer portal -->
    <add key="SubscriptionId" value=""/>
    <!-- Insert your certificate thumbprint without spaces -->
    <add key="CertificateThumbprint" value=""/>
  </appSettings>
</configuration>