<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:os-core="http://www.openspaces.org/schema/core" xmlns:os-events="http://www.openspaces.org/schema/events"
	xmlns:os-remoting="http://www.openspaces.org/schema/remoting"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
				http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
				http://www.openspaces.org/schema/core http://www.openspaces.org/schema/8.0/core/openspaces-core.xsd
       			http://www.openspaces.org/schema/events http://www.openspaces.org/schema/8.0/events/openspaces-events.xsd
       			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
       			http://www.openspaces.org/schema/remoting http://www.openspaces.org/schema/8.0/remoting/openspaces-remoting.xsd">

	<beans profile="nonsecure,secure,default">

		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location" value="/WEB-INF/config.properties" />
			<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		</bean>
		
		<!-- Enables the usage of @GigaSpaceContext annotation based injection. -->
		<os-core:giga-space-context />

		<!-- A bean representing a space (an IJSpace implementation). Note, we 
			perform a lookup on the space since we are working against a remote space. -->
		<os-core:space id="space" url="jini://*/*/${restful.managementSpaceName}" />

		<!-- OpenSpaces simplified space API built on top of IJSpace/JavaSpace. -->
		<os-core:giga-space id="gigaSpace" space="space" />

		<context:component-scan base-package="org.cloudifysource.rest" />

		<mvc:annotation-driven />

		<mvc:resources mapping="/resources/**" location="/resources/" />
		
		<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
			<property name="order" value="0"/>
		</bean>

		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="order" value="1"/>
			<property name="prefix" value="/WEB-INF/views/" />
			<property name="suffix" value=".jsp" />
		</bean>
		
		<mvc:view-controller path="/" view-name="index"/>

		<mvc:interceptors>
			
			<!-- Version Validation using path variable. Currently for Deployments/Infra/Repo/Config/Alert Controller Only --> 
			<mvc:interceptor>
				<mvc:mapping path="/**/deployments/**"/>
				<mvc:mapping path="/**/infra/**"/>
				<mvc:mapping path="/**/repo/**"/>
				<mvc:mapping path="/**/alert/**"/>
				<mvc:mapping path="/**/config/**"/>
				<bean class="org.cloudifysource.rest.interceptors.ApiVersionValidationAndRestResponseBuilderInterceptor"></bean>
			</mvc:interceptor>
			 
			<!-- Version Validation using request header. For all other Controllers -->
 			<mvc:interceptor>
				<mvc:mapping path="/service/**"/>
				<mvc:mapping path="/admin/**"/>
				<mvc:mapping path="/attributes/**"/>
				<bean class="org.cloudifysource.rest.controllers.VersionValidateInterceptor" />
			</mvc:interceptor>
			
		</mvc:interceptors>
		
		<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
			<property name="basename" value="MessagesBundle"/>
		</bean>

		<bean id="admin" class="org.cloudifysource.rest.util.AdminFactoryBean">
			<property name="groups" value="${restful.lookupGroups}" />
			<property name="locators" value="${restful.lookupLocators}" />
		</bean>

		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<property name="maxUploadSize" value="100000000" />
		</bean>
		
	</beans>


</beans>
