<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider user-service-ref="cloudifyUserDetailsService"/>
	</sec:authentication-manager>
	
	<bean id="cloudifyUserDetailsService" class="org.cloudifysource.security.CloudifyUserDetailsService">
  		<constructor-arg name="users" >
 			<list>
				<ref bean="CloudifyUserSuperuser" />
				<ref bean="CloudifyUserAmanda" />
				<ref bean="CloudifyUserDana" />
				<ref bean="CloudifyUserDan" />
				<ref bean="CloudifyUserDon" />
				<ref bean="CloudifyUserJohn" />
				<ref bean="CloudifyUserJane" />
			</list>
		</constructor-arg>
	</bean>
	
	
	<bean id="CloudifyUserSuperuser" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Superuser" />
 		<constructor-arg name="password" value="Superuser" />
 		<constructor-arg name="roles" value="ROLE_CLOUDADMINS, ROLE_APPMANAGERS, ROLE_VIEWERS" />
 		<constructor-arg name="authGroups" value="Bezeq, GE, Cellcom" />
	</bean>
	<bean id="CloudifyUserAmanda" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Amanda" />
 		<constructor-arg name="password" value="Amanda" />
 		<constructor-arg name="roles" value="ROLE_CLOUDADMINS" />
 		<constructor-arg name="authGroups" value="Bezeq, GE, Cellcom" />
	</bean>
	<bean id="CloudifyUserDana" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Dana" />
 		<constructor-arg name="password" value="Dana" />
 		<constructor-arg name="roles" value="ROLE_CLOUDADMINS, ROLE_APPMANAGERS" />
 		<constructor-arg name="authGroups" value="Bezeq" />
	</bean>
	<bean id="CloudifyUserDan" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Dan" />
 		<constructor-arg name="password" value="Dan" />
 		<constructor-arg name="roles" value="ROLE_APPMANAGERS" />
 		<constructor-arg name="authGroups" value="GE" />
	</bean>
	<bean id="CloudifyUserDon" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Don" />
 		<constructor-arg name="password" value="Don" />
 		<constructor-arg name="roles" value="ROLE_APPMANAGERS, ROLE_VIEWERS" />
 		<constructor-arg name="authGroups" value="Cellcom" />
	</bean>
	<bean id="CloudifyUserJohn" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="John" />
 		<constructor-arg name="password" value="John" />
 		<constructor-arg name="roles" value="ROLE_VIEWERS" />
 		<constructor-arg name="authGroups" value="GE, Cellcom" />
	</bean>
	<bean id="CloudifyUserJane" class="org.cloudifysource.security.CloudifyUser">
 		<constructor-arg name="username" value="Jane" />
 		<constructor-arg name="password" value="Jane" />
 		<constructor-arg name="roles" value="" />
 		<constructor-arg name="authGroups" value="Bezeq" />
	</bean>
	
	
	<!-- LDAP connectivity configuration -->
	<!-- sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="ldapAuthProvider"/>
	</sec:authentication-manager>
	
	<bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<constructor-arg value="ldap://localhost:389/dc=maxcrc,dc=com"/>
		<property name="userDn" value="cn=manager,dc=maxcrc,dc=com"/>
		<property name="password" value="secret"/>
	</bean>
 
	<bean id="CustomLdapUserDetailsMapper" class="org.cloudifysource.securityldap.CustomLdapUserDetailsMapper" >
		<property name="roleAttributes">
			<list>
				<value>cloudifyRole</value>
			</list>
		</property>
	</bean>
	
	<bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<constructor-arg index="0" value=""/>
		<constructor-arg index="1" value="(uid={0})"/>
		<constructor-arg index="2" ref="contextSource" />
	</bean>
	
	<bean id="ldapAuthProvider" class="org.cloudifysource.securityldap.CustomLdapAuthenticationProvider">
		<constructor-arg>
			<bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
				<constructor-arg ref="contextSource"/>
				<property name="userSearch" ref="userSearch">
				</property>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="org.cloudifysource.securityldap.CustomLdapAuthoritiesPopulator">
			<constructor-arg name="roleAttributes">
				<list>
					<value>cloudifyRole</value>
				</list>
			</constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="org.cloudifysource.securityldap.CustomLdapAuthGroupsPopulator">
				<constructor-arg ref="contextSource"/>
				<constructor-arg value="ou=groups"/>
			</bean>
		</constructor-arg>
		<property name="UserDetailsContextMapper" ref="CustomLdapUserDetailsMapper"/>
	</bean-->
	
	<beans profile="secure">
		<bean id="permissionEvaluator" class="org.cloudifysource.security.CustomPermissionEvaluator" />
		<bean id="expressionHandler" class="org.cloudifysource.security.ExtendedMethodSecurityExpressionHandler">
			<property name="permissionEvaluator" ref="permissionEvaluator" />
		</bean>
	</beans>
	
	<beans profile="nonsecure,default">
		<bean id="permissionEvaluator" class="org.cloudifysource.security.CustomApproveAllPermissionEvaluator" />
		<bean id="expressionHandler" class="org.cloudifysource.security.ExtendedMethodSecurityExpressionHandler">
			<property name="permissionEvaluator" ref="permissionEvaluator" />
		</bean>
	</beans>

</beans>