<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <http>
		intercept-url pattern="/**" access="ROLE_USER" requires-channel="https"/
		<intercept-url pattern="/admin" access="ROLE_VIEWER"/>
		<intercept-url pattern="/service" access="ROLE_VIEWER"/>
		<intercept-url pattern="/attributes" access="ROLE_VIEWER"/>
		<intercept-url pattern="/**" access="ROLE_VIEWER"/
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="a" password="a"
					authorities="ROLE_CLOUD_ADMIN,ROLE_APP_MANAGER,ROLE_VIEWER" />
				<user name="b" password="b" authorities="ROLE_CLOUD_ADMIN" />
				<user name="c" password="c" authorities="ROLE_APP_MANAGER" />
				<user name="d" password="d" authorities="ROLE_VIEWER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<global-method-security pre-post-annotations="enabled"/> -->
		<!-- access-decision-manager-ref="myAccessDecisionManagerBean">
		<expression-handler ref="expressionHandler" />
	</global-method-security-->

	<!-- <beans:bean id="expressionHandler"
		class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<beans:property name="permissionEvaluator" ref="myPermissionEvaluator" />
	</beans:bean> -->


</beans:beans>
